$main-font: 'PT Sans', sans-serif;
$second-font: 'Open Sans Condensed', sans-serif;

$light-gray: #dcdcdc;
$dark-gray: #777777;
$dark-gray-text: #767676;  //$main-color: rgb(118, 118, 118);
$white-text: rgb(255, 255, 255);  //$nav-bar-textcolor: rgb(255, 255, 255);
$black-color: rgb(68, 68, 68);

// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



