// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.panel-collapse.collapse.in {
  display: block !important;
}



.wrapper {
  background-color: $body-bg;
  @include font-PT-Sans(16px, 24px, $dark-gray );


  header {
    background-color: $light-gray;

    .top-header {
      padding: 40px 10px 0;
      min-height: 230px;

      @media (min-width: $media-xl-1200) {
      max-width: 1000px;
      }

      .row {
        margin: 0;

        .box-info {
          padding: 23px 0 25px;

          @media (max-width: $media-575) {
            padding: 23px 10px 25px ;
          }

          .company-info1 {
            padding: 0;
            .logo {
              .logo-img {
                max-height: 100px;

                @media (max-width: $media-575) {
                  max-height: 90px;
                }
              }
            }
          }

          .company-info2 {
            padding: 0;

            @media (max-width: 991px) {
              padding: 0 0 0 20px;
            }

            #company-name {
              @include font-PT-Sans(32px, 24px, $dark-gray );
              font-weight: bold;
              padding: 6px 0 0;

              @media (max-width: $media-767) {
                text-align: right;
              }

              @media (max-width: $media-575) {
                font-size: 28px;
              }
            }

            #description {
              margin: 14px 0 0;
              @include font-PT-Sans(16px, 1,  $dark-gray-text );

              @media (max-width: $media-767) {
                text-align: right;
              }

              @media (max-width: $media-575) {
                font-size: 14px;
              }
            }
          }
        }

        .box-connection {
          padding: 0 ;
          text-align: right;
          margin: -5px 0 0;

          .connection {
            @include font-open-sans( 40px, 1.15, $dark-gray-text);

            @media (max-width: $media-767) {
              text-align: center;
            }

            @media (max-width: $media-575) {
              font-size: 32px;
            }
          }

          .feedback {
            margin: 11px 0 0 ;
            padding: 0 0 25px ;
            line-height: 0.9;
            text-align: right;

            @media (max-width: $media-767) {
              text-align: center;
            }

            a {
              @include font-PT-Sans(24px, 0, $dark-gray );
              font-weight: bold;
              border-bottom: 2px $dark-gray dashed;
              text-decoration: none;


              @media (max-width: $media-575) {
                font-size: 18px;
              }

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .navbar {
      background-color: $dark-gray;
      min-height: 80px;
      padding: 0 ;
      border-radius: 0px;

      .navbar-nav {
        padding: 0 25px;
        list-style-type: none;
        margin-top: -7px;

        @media (min-width: $media-xl-1200) {
          max-width: 1000px;
        }

        @media (max-width: $media-991) {
          margin-top: 0px;
        }

        .border-item {
          border-right: 2px solid $white-text;
        }

        .nav-item {
          margin: 0;

          @media (max-width: $media-991) {
            margin: 8px 0;
          }

          a {
            margin: 0 10px;
            padding: 0;
            @include font-PT-Sans( 30px, 26px, $white-text);

            @media (min-width: $media-991) {
              line-height: 24px;
            }

            @media (max-width: $media-575) {
              font-size: 22px;
              line-height: 14px;
            }

            &:hover {
              color: $white-text;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  #demo {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    opacity: 1;

    .carousel-inner {
      .carousel-item {
        position: relative;
        text-align: -webkit-center;

        a {
          display: flex;
          justify-content: center;

          img {
            height: 400px;
            max-width:  none ;
          }
        }
      }
    }

    .carousel-control-prev {
      width: 32.5%;
    }

    .carousel-control-next {
      width: 32.5%;
    }
  }

  .content {
    padding: 0 10px 0 10px;

    @media (min-width: $media-xl-1200) {
      max-width: 1000px;
    }

    .breadcrumb {
      background-color: transparent;
      padding: 5px 0;
      margin: 0 0 10px;

      @media(max-width: $media-575) {
        padding: 0 0 0 20px;
      }

      .breadcrumb-item {
        @include font-PT-Sans( 14px, 1.286, $dark-gray-text);

        a {
          color: $dark-gray-text;
          text-decoration: underline;

        }
      }
      .breadcrumb-item::before {
        padding-left: 0.7rem;
      }
    }

    .catalog {
      margin: 0 ;

      .leftblock {
        list-style-type: disc;
        padding: 0;
        margin: 5px 0 0;

        @media(max-width: $media-575) {
          padding: 0 0 0 20px;
        }

        .panel-group {
          .panel {
            margin: 9px 0;
            line-height: 16px;

            .panel-heading {
              .panel-title {
                a {
                  @include font-PT-Sans( 18px, 20px, $dark-gray-text);

                  &:active {
                    text-decoration: underline;
                  }

                  &:hover {
                    color: black;
                  }
                }

              }
            }
            .panel-collapse {
              .panel-body {
                .list-catalog {
                  margin-bottom: 12px;

                  .item-catalog {
                    line-height: 0.8em;
                    margin: 7px 0;

                    a {
                      @include font-PT-Sans( 14px, 0.8em, $dark-gray-text);

                      &:active {
                        text-decoration: underline;
                      }

                      &:hover {
                        color: black;
                      }
                    }

                  }
                }
              }
            }
          }
        }
        .excel-foto {
          margin: 105px 0 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media(max-width: $media-575) {
            margin: 20px 0 ;
            align-items: flex-start;
          }

          .excel {
            @media(max-width: $media-575) {
              max-height: 55px;
              max-width: 48px;
            }
          }

          .price-list {
            @include font-PT-Sans( 30px, 24px, $black-color);
            font-weight: bold;
            width: 150px;
            margin: -5px 0 0 ;

            @media(max-width: $media-575) {
              font-size: 20px;
            }
          }
        }
      }

      .centerblock {
        padding: 0 ;
        margin: 2px 0 0;

        .goods-conteiner {
          margin: 0px;

          .tint {
            padding: 0 8px;
            margin: 0;
            justify-content: center;

            .tint-border {
              background-color: $light-gray;
              margin: 10px 8px;
              padding: 0;
              text-align: -webkit-center;

              .goods_inside {
                text-align: center;
                height: 380px;
                margin: 0;
                padding: 20px 20px 0;
                position: relative;
                max-width: 210px;

                .img-block {
                  padding: 0;
                  max-height: 210px;

                  .goods-img {
                    max-width: 100%;
                    height: auto;
                    padding: 0;
                  }
                }

                .disc-goods {
                  @include font-PT-Sans( 16px, 24px, $dark-gray-text);
                  position: absolute;
                  top: 242px;
                  width: inherit;
                  text-align: left;
                  padding: 0;
                  display: block;
                  text-overflow: ellipsis;
                  word-wrap: break-word;
                  overflow: hidden;
                  max-height: 50px;
                }

                .purchase {
                  margin: 0;
                  flex: 0 1 auto;
                  position: absolute;
                  width: 100%;
                  @include font-PT-Sans( 28px, 24px, $black-color);
                  right: 0px;
                  left: 0px;
                  bottom: 10px;
                  padding: 0 20px;

                  .price {
                    font-weight: bold;
                    padding: 0;
                    text-align: left;
                  }
                  .basket-box {
                    padding: 0;

                    .addtobasket_mini {
                      padding-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        .pagination-box {
          border-bottom: 1px $black-color solid;
          margin: 0 10px 0 6px;

          nav {
            padding: 0 0 42px 0;
            display: flex;
            justify-content: center;

            .pagination {
              height: 30px;
              margin: 14px 0 16px 0;

              .page-item {
                .page-link {
                  border: none;
                  @include font-PT-Sans( 14px, 17px, $dark-gray-text);

                  &:focus {
                    @include font-PT-Sans( 16px, 17px, $black-color);
                    z-index: 0;
                    outline: 0;
                    box-shadow: 0 0 0 0 $body-bg;
                    background-color: $body-bg;
                    font-weight: bold;
                    text-decoration: none;
                  }

                }
                a:hover {
                  @include font-PT-Sans( 16px, 17px, $black-color);

                  background-color: $body-bg;
                  font-weight: bold;
                }

              }
            }
          }
        }
        .about-catalog {
          margin: 26px -19px 0 0;
          padding: 0 0 185px 6px;
          @media(max-width: $media-991) {
            padding-bottom: 80px;
            margin-left: auto;
            margin-right: auto;
            align-items: stretch;
          }

          .about-left {
            .about-text {
              @include font-PT-Sans( 14px, 1.571, $dark-gray-text);
              padding-right: 39px;
              @media(max-width: $media-991) {
                padding: 0 0 20px ;

              }
            }
          }
          .about-right {
            .about-text {
              @include font-PT-Sans( 14px, 1.571, $dark-gray-text);
              padding-right: 29px;

              @media(max-width: $media-991) {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $dark-gray;
    padding: 45px 210px 35px ;
    @include font-PT-Sans( 14px, 24px, $white-text);


    @media (max-width: $media-991) {
      padding: 45px 10px 35px ;
    }

    .footer-box {
      @media (max-width: $media-991) {
        margin: 0;
      }

      .left-footer {
        @media (max-width: $media-991) {
          padding: 0 0 20px ;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
        }

        p {
          line-height: 1.571;
          margin-bottom: 0px;

          @media (max-width: $media-991) {
            padding: 0 10px;
          }
        }
      }
      .center-footer {
        @media (max-width: $media-991) {
          padding: 0;
        }

        .list-footer {
          padding-left: 15px;

          @media (max-width: $media-991) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 0 4px ;
          }

          .li-footer {
            list-style-type: none;

            @media (max-width: $media-991) {
              padding: 0 10px ;
            }

            a {
              @include font-PT-Sans( 14px, 1.857, $white-text);
              border-bottom: 1px  solid $white-text;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      .right-footer {
        padding: 0 ;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;

        @media (max-width: $media-991) {
          justify-content: center;
        }

        .dev-logo {
          width: 36px;
          height: 38px;
          margin-right: 15px;
          margin-top: 5px;
        }

        .dev-comp {
          p {
            @include font-PT-Sans( 14px, 24px, $white-text);
            padding-right: 10px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
